        </div>
        
        <footer class="bg-primary text-center text-lg-start text-light">
            <!-- Copyright -->
            <div class="text-center p-3">
            Based on the 2020 Research Survey: 
            <a class="text-secondary" href="http://scholar.utc.edu/honors-theses/242">Mutual Exclusion</a>
            <!-- Copyright -->
        </footer>
    </body>
</html>