<%- include('includes/header.ejs') %>

<!-- multistep form -->
<div class="row justify-content-around no-margin">
	<div class="col-6-md col-10">
		<form id="msform">
			<div class="row justify-content-around mb-3">
				<!-- progressbar -->
				<ul id="progressbar">
					<li class="p-1 mb-1 active"><i class="fa fa-user"></i></li>
					<li class="p-1 mb-1"><i class="fa fa-graduation-cap"></i></li>
					<li class="p-1 mb-1">1</li>
					<li class="p-1 mb-1">2</li>
					<li class="p-1 mb-1">3</li>
					<li class="p-1 mb-1">4</li>
					<li class="p-1 mb-1">5</li>
					<li class="p-1 mb-1">6</li>
					<li class="p-1 mb-1">7</li>
					<li class="p-1 mb-1">8</li>
					<li class="p-1 mb-1">9</li>
					<li class="p-1 mb-1">10</li>
				</ul>
			</div>
			<!-- fieldsets -->
			<div class="row justify-content-around">
				<fieldset class="col">
					<h2 class="fs-title">About You</h2>
					<!-- Age -->
					<div class="pl-3"> <!-- Tab over -->
						<h3 class="fs-subtitle">
							What's your age?
						</h3>
						
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="age" value="18-30" id="age1">
								<label for="age1">18-30</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="age" value="31-40" id="age2">
								<label for="age2">31-40</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="age" value="41-50" id="age3">
								<label for="age3">41-50</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="age" value="51 or older" id="age4">
								<label for="age4">51 or older</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="age" value="NULL" id="age5">
								<label for="age5">I'd prefer not to answer</label>
							</div>
						</div>

						<hr>
						
						<!-- Years of Experience -->
						<h3 class="fs-subtitle">
							How many years have you been a programmer for?
						</h3>
						
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="exp" value="0-5" id="exp1">
								<label for="exp1">Less than 5</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="exp" value="5-15" id="exp2">
								<label for="exp2">5-15</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="exp" value="15-35" id="exp3">
								<label for="exp3">15-35</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="exp" value="35 or more" id="exp4">
								<label for="exp4">35 or more</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="exp" value="NULL" id="exp5">
								<label for="exp5">I'd prefer not to answer</label>
							</div>
						</div>

						<hr>
						
						<!-- Geography -->
						<h3 class="fs-subtitle">
							What country do you live in?
						</h3>

						<hr>
						
						<!-- Field -->
						<h3 class="fs-subtitle">
							What field of programming do you work most closely with?
						</h3>
						
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Ops" id="field1">
								<label for="field1">Ops</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Security" id="field2">
								<label for="field2">Security</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Development" id="field3">
								<label for="field3">Development</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Teaching" id="field4">
								<label for="field4">Teaching</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Research" id="field5">
								<label for="field5">Research</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Management" id="field6">
								<label for="field6">Management</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="Other" id="field7">
								<label for="field7">Other</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="field" value="NULL" id="field5">
								<label for="field5">I'd prefer not to answer</label>
							</div>
						</div>
					</div> <!-- End tab over -->
					<button type="button" class="btn btn-primary next mt-4" name="next" value="Next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">About You</h2>
					<!-- Student -->
					<div class="pl-3"> <!-- Tab over -->
						<h3 class="fs-subtitle">
							Are you a student?
						</h3>
						
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="student" value="yes" id="student1">
								<label for="student1">Yes</label>
							</div>
						</div>
						<div class="row py-1">
							<div class="col">
								<input type="radio" name="student" value="no" id="student2" checked="checked">
								<label for="student2">No</label>
							</div>
						</div>

						<hr>
						
						<div id="studentQuestions" disabled="true">
							<!-- Program classification -->
							<h3 class="fs-subtitle">
								What program is your major a part of?
							</h3>
							
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="program" value="LibArts" id="program1" disabled>
									<label for="program1">Liberal Arts</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="program" value="Math" id="program2" disabled>
									<label for="program2">Math</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="program" value="Engineering" id="program3" disabled>
									<label for="program3">Engineering</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="program" value="Art" id="program4" disabled>
									<label for="program4">Art</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="program" value="Other" id="program5" disabled>
									<label for="program5">Other</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="program" value="NULL" id="program6" disabled>
									<label for="program6">I'd prefer not to answer</label>
								</div>
							</div>
	
							<h3 class="fs-subtitle pt-5">
								Does your school offer a comp-sci-specific course on ethics?
							</h3>
	
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="ethicsCourse" value="yes" id="ethicsCourse1" disabled>
									<label for="ethicsCourse1">Yes</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="ethicsCourse" value="yes" id="ethicsCourse2" disabled>
									<label for="ethicsCourse2">Yes, but I haven't taken it yet</label>
								</div>
							</div>
							<div class="row py-1">
								<div class="col">
									<input type="radio" name="ethicsCourse" value="no" id="ethicsCourse3" disabled>
									<label for="ethicsCourse3">No</label>
								</div>
							</div>
						</div>

					</div> <!-- End tab over -->
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next" value="Next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 1</h2>
					<p class="fs-subtitle">
						The last customer meeting for your project was a disaster. Communication has
						been limited for the last month and the customer is expecting a full report
						from today’s meeting. As you leave your office for the meeting, you overhear
						the administrative assistant saying,
					</p>
						<blockquote>
							“If Joe calls in, please see that he calls home. His spouse says there is a
							mini-crisis.”
						</blockquote>
					<p class="fs-subtitle">
						You are to meet with Joe at the customer’s office, and the two of you are to lead
						the meeting. Joe’s participation is critical. Joe is quite nervous and often gives
						a bad impression if distracted. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvTttC" value="HCvTttC1" id="HCvTttC1">
							<label for="HCvTttC1">Relay the information to Joe before the meeting</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvTttC" value="HCvTttC2" id="HCvTttC2">
							<label for="HCvTttC2">Lead the client meeting with Joe before telling him</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next" value="Next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 2</h2>
					<p class="fs-subtitle">
						You and your team have been working on a groundbreaking feature for your company
						for the last year and a half. Just three weeks before the project's official
						roll-out, an unforeseen disaster sets back your team and destroys a month's worth
						of progress. If you keep going at the current pace, you won't make the deadline.
						This new feature is crucial, and the higher-ups are unwilling to extend the
						project deadline due to the cost of updating marketing. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvQA" value="HCvQA1" id="HCvQA1">
							<label for="HCvQA1">Work long hours with the rest of your team to get the project done on time</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvQA" value="HCvQA2" id="HCvQA2">
							<label for="HCvQA2">Release the project unfinished and add the other features to it after release</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 3</h2>
					<p class="fs-subtitle">
						You and your friend work at two competing companies. Two days before the
						release deadline for a particularly time-consuming issue, you and your
						friend are talking over lunch. Suddenly, your phone rings. A personal
						emergency has come up. You absolutely won’t be able to fix the issue before
						the deadline. Your friend offers to finish the code for you. When you two
						first met, you helped him a lot with his code and he wants to repay the favor.
						You were required to sign a Non-Disclosure-Agreement for this job, and you know
						your company isn’t willing to hire consultants at this time (especially ones
						from their top competitor). What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvRoIP" value="QAvRoIP1" id="QAvRoIP1">
							<label for="QAvRoIP1">Finish the project in time with your friend’s help</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvRoIP" value="QAvRoIP2" id="QAvRoIP2">
							<label for="QAvRoIP2">Honor your contract and politely refuse</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 4</h2>
					<p class="fs-subtitle">
						As you are finishing up work on the top-selling product for your company, you
						get a message from your team's business manager. An order has come in from the
						higher-ups. The company's top competitor recently released a hot new feature,
						and they want to add a similar feature to their system. You are skeptical about
						the feature's business value, and while you could update the system to support
						the new feature, doing so would violate architectural decisions that have kept
						the project stable for years, and would hurt the product in the long run. You
						try explaining this to your business manager, but they reply that the higher-ups
						want this feature if at all possible. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvTttC" value="QAvTttC1" id="QAvTttC1">
							<label for="QAvTttC1">Tell them that, yes, this feature can be made, even though it's unadvised</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvTttC" value="QAvTttC2" id="QAvTttC2">
							<label for="QAvTttC2">Decide that the long-terms losses wouldn't be worth it and tell them that it can't be done</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 5</h2>
					<p class="fs-subtitle">
						Several months ago, your team started working remotely, and you've recently noticed the amount
						of work being put in by one of your team members has gone down. The team member in question
						suffers from ADHD. While you were working in the office, the team was able to work together
						to make an environment that helped everyone focus, but work has been far more difficult for
						them after going remote. After some discussion, you begin talking about an accessibility app
						the team member used to use that gave them periodic reminders based on their schedule and
						todo list; however, the company that created the app is known to sell data to third parties,
						and your team member stopped using it due to privacy concerns. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvPr" value="HCvPr1" id="HCvPr1">
							<label for="HCvPr1">Encourage the team member to use the app for just a month and see if it helps</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvPr" value="HCvPr2" id="HCvPr2">
							<label for="HCvPr2">Agree with the team member's privacy concerns and begin searching with them for a safer alternative</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 6</h2>
					<p class="fs-subtitle">
						You and your coworkers have been working for the last year on an update to
						an already existing accessibility app to make texting on smartphones easier.
						The software is used in a wide variety of applications, and you believe there
						may be issues that haven’t been found. The release deadline is approaching, and
						one coworker suggests configuring the initial release to send an error report
						of everything being done by the user whenever a system breakdown occurs. This
						data collection would keep track of all recent events, running apps and current
						texts. Data collection for the sake of improving the software is
						allowed in the company’s privacy policy. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvPr" value="QAvPr1" id="QAvPr1">
							<label for="QAvPr1">Begin development of the data collection software</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvPr" value="QAvPr2" id="QAvPr2">
							<label for="QAvPr2">Request to push back the deadline and build a small group of users to test the
								software with</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvPr" value="QAvPr3" id="QAvPr3">
							<label for="QAvPr3">Release the software without collecting data and wait for users to report errors</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="QAvPr" value="QAvPr4" id="QAvPr4">
							<label for="QAvPr4">Develop the data collection software to get information on customers for future use
								and begin work on the next update without checking for errors in the last update</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 7</h2>
					<p class="fs-subtitle">
						A coworker you have been mentoring for the past few months has been chosen to
						join a project that deals with a new and advanced technology used by the company.
						Your mentee is feeling anxious about the position, since they have absolutely no
						experience with this tool. The technology has no good learning sources, except 
						for an expensive but fantastic course you started taking a few months ago. 
						Unfortunately, the company your mentee works for is extremely small and doesn't 
						have the resources to pay for a certification-level online course, even if it is 
						for improving an employee's skillset. You still have access to the course, and 
						your mentee has asked if you could download all the learning material for them. 
						The course material is subject to copyright. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvIP" value="HCvIP1" id="HCvIP1">
							<label for="HCvIP1">Download and copy the course material and give it to your mentee</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="HCvIP" value="HCvIP2" id="HCvIP2">
							<label for="HCvIP2">Search with your mentee for an alternative learning source</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 8</h2>
					<p class="fs-subtitle">
						A request came into your system over the weekend that errored out and shut down
						the system. You've been asked to find the problem and report to the team lead
						the source of the error. In researching the problem, you find that the user is
						a former programmer on your team, who left due to harassment within the company.
						When talking about previous employments, the user chose "I'd prefer not to
						answer". You email the team lead telling them vaguely that there was an existing
						username conflict, which can be easily solved by deleting the now-unused username.
						By company policy, the username should have been deleted when the employee left,
						but no one has been enforcing that. Shortly after, the team lead replies, asking
						for the exact details so they can delete the conflicting data. Because the user
						selected "I'd prefer not to answer", you're reasonably sure they would want their
						data to remain private, likely for conflict-of-interest reasons. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvPr" value="TttCvPr1" id="TttCvPr1">
							<label for="TttCvPr1">Give them the users' information</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvPr" value="TttCvPr2" id="TttCvPr2">
							<label for="TttCvPr2">Offer to fix the info yourself, rather than disclose the information</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvPr" value="TttCvPr3" id="TttCvPr3">
							<label for="TttCvPr3">Refuse to give the information, forcing the team to delete all outdated employee data to fix the problem</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvPr" value="TttCvPr4" id="TttCvPr4">
 							<label for="TttCvPr4">Disclose the users' info, but ask the team to delete all outdated employee data to keep problems like this from occuring again</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 9</h2>
					<p class="fs-subtitle">
						The team you lead is currently searching for the right library for querying
						Google Maps, and you recently found a library with all the functions the
						project needs. The library is open-sourced under a license that excludes
						modification. After going over the source code, you find that the library
						tracks and saves unnecessary data, including a user’s name and home address,
						and you can’t find where these are used. You’ve tried contacting the library’s
						maintainer, with no response. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="IPvPr" value="IPvPr1" id="IPvPr1">
							<label for="IPvPr1">Edit the library to protect privacy, but breach the license</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="IPvPr" value="IPvPr2" id="IPvPr2">
							<label for="IPvPr2">Use the library as is to respect intellectual property</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="IPvPr" value="IPvPr3" id="IPvPr3">
							<label for="IPvPr3">Don’t use the library and hope another suitable library is found</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="IPvPr" value="IPvPr4" id="IPvPr4">
							<label for="IPvPr4">Treat the data collection as a feature for creating a personalized experience for the user</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="button" class="btn btn-primary next mt-4" name="next">Next</button>
				</fieldset>

				<fieldset class="col">
					<h2 class="fs-title">Question 10</h2>
					<p class="fs-subtitle">
						The company is currently negotiating with a customer who is claiming he was
						injured by one of the company's products and has threatened legal action. The
						company has spent several months convincing the customer they are not at fault,
						and working on a compromise. When your development duties take you to a part of
						your company’s code that has not been looked at in years, you find a corner case
						that might support the customer’s personal injury claim. What do you do?
					</p>
					
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvIP" value="TttCvIP1" id="TttCvIP1">
							<label for="TttCvIP1">Give/Sell the information to the customer</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvIP" value="TttCvIP2" id="TttCvIP2">
							<label for="TttCvIP2">Tell your employer but don't reveal the information to the customer</label>
						</div>
					</div>
					<div class="row py-1">
						<div class="col">
							<input type="radio" name="TttCvIP" value="TttCvIP3" id="TttCvIP3">
							<label for="TttCvIP3">Don't tell anyone</label>
						</div>
					</div>
					<button type="button" class="btn btn-primary previous mt-4" name="previous">Previous</button>
					<button type="submit" class="btn btn-primary next mt-4" name="submit">Submit</button>
				</fieldset>
			</div>
		</form>
	</div>
</div>

<%- include('includes/footer.ejs') %>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- jQuery easing plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- User-defined functions -->
<script src="/javascripts/surveyMultipart.js"></script>