/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  height: 100%;
}

body {
  height: 100%;
	font-family: montserrat, arial, verdana;
}
.form-control, .btn, label, p {
	font-size: 1rem !important;
}

.content {
	min-height: calc(100% - 104px);
}
footer {
	height: 64px;
}

.jumbotron {
	/* background: url('/images/sparkles.png') fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.jumbotron-header--width {
	width: 70%;
}

/*form styles*/
#msform {
	margin: 50px 0;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*headings*/
.fs-title {
	font-size: 30px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	text-align: center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 18px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	text-align: center;
}
#progressbar li {
	float: left;
	position: relative;
	line-height: 20px;
	display: block;
	font-size: 12px;
	background: white;
	border-radius: 3px;
	margin-right: 10px;
	width: 5%;
	min-width: 24px;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 12px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active,  #progressbar li.active:after{
	background: #5e0aad;
	color: white;
}

label {
	display: inline !important;
}

.no-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.btn-color--pink {
	background-color: #a991d4 !important;
}
.btn-color--pink:hover {
	background-color: #8c74b6 !important;
}

/* Index bootstrap icons */
ul.icon
{
	list-style-type: none;
}

ul.icon li
{
	text-indent: -1.4em;
}

ul.icon li:before
{
	font-family: 'FontAwesome';
    content: '\f067';
	float: left;
	width: 2em;
}

.icon--large
{
	font-size: 72px !important;
}

input:disabled+label {
	color: darkgrey;
}

.usmap-west--hover:hover,
.usmap-midwest--hover:hover,
.usmap-northeast--hover:hover,
.usmap-south--hover:hover {
	-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.usmap-west--hover:hover path,
.usmap-midwest--hover:hover path,
.usmap-northeast--hover:hover path,
.usmap-south--hover:hover path {
	stroke:rgba(0, 0, 0, 1);
	stroke-width: 2px;
}

.usmap-select:hover {
	cursor:pointer;
}

.usmap-select[selected] path {
	fill: #400775 !important;
}

/* Content types can be seen here: https://astronautweb.co/snippet/font-awesome/ */
ul.icon li.chart:before { content: '\f200'; }
ul.icon li.person:before { content:"\f21d"; }
ul.icon li.brain:before { content: '\f19d'; }

.value-label {
	font: 20px;
	fill: black;
    stroke: white;
    font-weight: 800;
    stroke-width: 0.75px;
}